@media (max-width: 800px) {
    html {
        background-color: #F6F6F6;
    }

    body {
        display: flex;
        flex-direction: column;
        background-color: white;
        margin: 0;
    }

    .titre-du-site {
        color: black;
        font-family: "Shrikhand";
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 30px;
    }

    .emplacement-geographique {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 17px;
        background-color: #EAEAEA;
    }

        .section-reservation {
            text-align: center;
            padding: 40px 20px;
            background-color: #f9f9f9;
            border-radius: 8px;
            max-width: 600px;
            margin: 0 auto;
        }
    .section-restaurants {
        width: 100%;
    }
    .listeOptionClient {
        border: 2%, solid;
        border-radius: 20%;
        height: 2%;
        width: 100%;
        padding: 15%;
        background-color: yellow;
    }

    img {
    width: 100%;
    height: 174px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    }

    .carte-Menu img {
        display: block;

    }

    .fa-solid {
        color: red;
    }

    .fa-star {
        color: red;
    }

    .carte-Menu {
        position: relative;
        display: inline-block;
        width: 100%;
        justify-content: center;
    }

    .carte-Menu .nouveaute {
        position: absolute;
        top: 5%;
        left: 70%;
        color: white;
        background-color: #99E2D0;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
    }

    .numberOfTheList{
         background-color: #a259ff; 
         color: white; 
         font-weight: bold; 
         border-radius: 50%; 
         width: 24px; 
         height: 24px; 
         display: flex; 
         align-items: center; 
         justify-content: center; 
         margin-right: 12px;

    }

    .fonctionnement_List{
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .fonctionnement_list_li{
        display: flex; 
        flex-direction: row;
        align-items: center; 
        background-color: #f3f3f3; 
        padding: 10px 16px;
        border-radius: 16px;
        justify-content: space-around;
    }
    .button-de-exploration{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 50px;
    margin-top: 27px;
    padding: 0px;
    border: 1px solid transparent;
    border-radius: 25px;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(-161deg, #9356DC 0%, #FF79DA 100%);
    transition: background-color 300ms ease;
    }

    .discriptif-menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        }
    footer {
        background-color: black;
        color: white;
    }
    .choix-footer{
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .titre_footer{
        font-family: "Shrikhand";
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 20px;
    }

    a{
    text-decoration: none; 
    text-decoration-color: none;
    }

    .info-sur-le-menu{
        color: black;
    }

    .button-de-exploration {
            display: inline-block; 
            background-color: #e74c3c;
            color: white;
            padding: 12px 30px;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s;
        }
    .block-icon-text{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 25px;
        }
    .links-du-footer{
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
    }
    .link-vers-formulaire-a-creer{
        color: white;
    }
        .link-vers-envoi-mail-a-creer{
        color: white;
    }
        .link-vers-page-blabla-a-creer{
        color: white;
    }
}
